<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To Do List</title>
</head>
<body>

	<% if (kindOfDay === "Saturday" || "Sunday") { %>
		<h1 style="color:green"><%= kindOfDay %> Todo List</h1>
	<%} else { %>
		<h1 style="color:red"><%= kindOfDay %> Todo List</h1>
	<% } %>

</body>
</html>
